#rojo {
    background-color: red;
}

#azul {
    background-color: blue;
}

#verde {
    background-color: green;
}

#morado {
    background-color: violet;
}

.naranja {
    background-color: orange;
}